{% extends 'base.html' %}

{% block content %}
    <h2 style="text-align: center">{{ search|title }}</h2>
    <div class="row">
    {% for post in final_results.values %}

            <div class="col m3">
                <div class="card">
                    <div class="card-image">
                        <a href="{{post.url }}"><img src="{{ post.images.1}}" alt=""></a>
{#                        <div class="carousel carousel-slider">#}
{#                            {% for img in post.images %}#}
{#                                <a class="carousel-item" href="#!"><img src="{{ img }}"></a>#}
{#                        {% endfor %}#}
{#                        </div>#}
                    </div>
                    <div class="card-content">
                        <p>{{ post.title }}</p>
                    </div>
                    <div class="card-action">
                        <div class="card-action">
                        <a href="{{  post.url }}">View listing: price {{ post.price }} </a>
                        </div>
                    </div>
                </div>
            </div>



    {% endfor %}
    </div>

{% endblock content %}
